<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  /> -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/blogposts.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

  <div class="container-fluid" >
 
    <div class="row" style="height: 100vh;">
       <div class="col-lg-3  d-none d-sm-inline-block col-sm-4 col-prof justify-content-center" >

        <h2 class="web-name"><span><i class='bx bxs-cricket-ball'></i></span>
          <a href="/user/post" style="color: #000000;"> Cricvibes </a></h2>

        <div class="d-flex left-ui">
        <div class="profile">
          <a href="/user/profile/<%=user._id%>">
          <p style="margin-top: 50px;"> <span class="profile_head">Profile<span></span> <span><i class='bx bx-md bxs-user'></i></span></p>
        </a>
        </div>
        <div>
          <%- include('partials/createModal') %>
          <button type="button" class="btn btn-post" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            Post something
            </button>
        </div>
        </div>
      </div>
 
    <div class="col-lg-6 col-12 col-sm-8 profile-center col-sm-8 col-content" >
     

        <div class="row d-flex justify-content-center" >
            
            <div class=" col-md-12 col-12 profile-detail"  >
              <span  id="user_id" profile="<%=cuser._id%>" style="display: none;"></span>

              <div class="row">
                <div class="p-0 col-12 user-info">
                  <div  style="  margin-bottom: 25px;">
                   
                
                    <% if(cuser.cover_image && cuser.cover_image.url) {%>
                    <div class="img  mb-5 prof-image d-flex justify-content-start"  style="background-image: url(<%=cuser.cover_image.url%>); ">
                     <%}else{%>
                      <div class="img mb-5 prof-image d-flex justify-content-start"  style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAMFBMVEXh6vH////5+vrl7fPv8/f0+fzt9Pbf6vD+/f/j6/Lf6vL///3f6fLr8fbv8/by9vm0HxD7AAACbUlEQVR4nO3c65abIBRAYVHTDALx/d+2VBuDII6zLHro2t/fmEn2HETn2jQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADkG29irNHa4I9G9+qu83B2BTauu01JIIYUUUkghhbcX/ipFTGH3LKOTUmi6Qq/QGQrLovA8Ckuj8LzqC/98A2ZX5YXd2Lajf6beOaTmwm5+tnnsBNZc+NTt/OaNanWT/U5hzYWjWjzyh1VSqK1ONpTPW/fyz66kcHCqixJtHwSqPvvUKgq1D/Rjik61MZzhWPd5aJ3fTfwR6yn+P4XzBFU8RevCwvzPJCoo9IFmepdmPUUdFuqaZzgt0fcUw8T+88Ar/wrSC/UywemgcKE+7Tg/ZNRY8V2bDScYT9G6r+mdu+fOK8guXE8wmaK/Vet6980PPmUXDvEEVXLRCL942lwGkguny0RSmF76//ILuh/SE1JyYXIObk/xzfn17NJH5BZ+LvSHpmjno10yRbmFySYTDHFjivONnZ9iHC+3MLNE31NcJy7zNsn9m9DC9DIRTXG9UD977jTF1UIVWpjbZDJTDM/YeLsRWfjdBKMprj8d8RRFFm5d6Dca31OM99z1diOwMHehT01TTBe0WV00BBYem+AyRbdxcDhFgYX6YN80RZu5LTCSZ9gcLzSqz+xIZvloAgt/MsN8u+QZUkghhRRSSCGFFFJIIYWXFKqv85Towr3fcDpKSy78xygsjcLzKCyNwvPEFCpthxKsVlIKXVeGE1NYHoUUUkghhRRSeFfh2D6u0o53BOpmuOz/RA17f8MHAAAAAAAAAAAAAAAAAAAAAAAAAAAAALjcb3yLQG5tF3tgAAAAAElFTkSuQmCC');
                      background-position: center;
                      ">

                      <%}%>
                     
                      
                     
                      
                      <div class="d-flex justify-content-between">
                        <div>
                         
                      <% if(cuser.profile_image && cuser.profile_image.url) {%>
                        <img style="border: 4px solid #fff8f8; margin-left: 20px;" name="profile-image" id="profile" src="<%=cuser.profile_image.url%>"  alt="" class="user-profile">
                        
                        <%}else{%>

                      <img style="border: 4px solid #fff8f8; margin-left: 20px;" name="profile-image" id="profile" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAMFBMVEXh6vH////5+vrl7fPv8/f0+fzt9Pbf6vD+/f/j6/Lf6vL///3f6fLr8fbv8/by9vm0HxD7AAACbUlEQVR4nO3c65abIBRAYVHTDALx/d+2VBuDII6zLHro2t/fmEn2HETn2jQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADkG29irNHa4I9G9+qu83B2BTauu01JIIYUUUkghhbcX/ipFTGH3LKOTUmi6Qq/QGQrLovA8Ckuj8LzqC/98A2ZX5YXd2Lajf6beOaTmwm5+tnnsBNZc+NTt/OaNanWT/U5hzYWjWjzyh1VSqK1ONpTPW/fyz66kcHCqixJtHwSqPvvUKgq1D/Rjik61MZzhWPd5aJ3fTfwR6yn+P4XzBFU8RevCwvzPJCoo9IFmepdmPUUdFuqaZzgt0fcUw8T+88Ar/wrSC/UywemgcKE+7Tg/ZNRY8V2bDScYT9G6r+mdu+fOK8guXE8wmaK/Vet6980PPmUXDvEEVXLRCL942lwGkguny0RSmF76//ILuh/SE1JyYXIObk/xzfn17NJH5BZ+LvSHpmjno10yRbmFySYTDHFjivONnZ9iHC+3MLNE31NcJy7zNsn9m9DC9DIRTXG9UD977jTF1UIVWpjbZDJTDM/YeLsRWfjdBKMprj8d8RRFFm5d6Dca31OM99z1diOwMHehT01TTBe0WV00BBYem+AyRbdxcDhFgYX6YN80RZu5LTCSZ9gcLzSqz+xIZvloAgt/MsN8u+QZUkghhRRSSCGFFFJIIYWXFKqv85Towr3fcDpKSy78xygsjcLzKCyNwvPEFCpthxKsVlIKXVeGE1NYHoUUUkghhRRSeFfh2D6u0o53BOpmuOz/RA17f8MHAAAAAAAAAAAAAAAAAAAAAAAAAAAAALjcb3yLQG5tF3tgAAAAAElFTkSuQmCC'  alt="" class="img-thumbnail">
                      <%}%>
                      



                      
                        </div>
                      
   
                        </div>

                      
                    </div>

                    <div>
                      <%  if(cuser._id!=user._id) {%>
                      <div class="d-flex justify-content-end">
                        <button onclick="followToggle(this)" class="btn  btn-follow" style="margin-right:25px;width: 90px;">
  
                         <%=  user_following && user_following.includes(cuser._id) ? 'Unfollow' : 'Follow' %>
                        </button>
                      </div>
                      <% } %>

                    <div class="" style="margin-top: 70px ;margin-left: 20px">
                    <p > <span style="margin-right: 20px;"><%=cuser.username%></span> 
                       <!-- <% console.log("cuser",cuser.id,currentUser) %> -->
                       <% if(cuser.id!=currentUser && cuser.following.includes(currentUser)){%>
                       <span  style=" font-size: 0.8em;"> Follows you</span>
                       <%}%>
                      </p>
                    <p><span><%= cuser.bio ? cuser.bio : '' %></span></p>
                    <p><span style="margin-right:0.5rem;font-weight: bold;" ><%=cuser.following.length%></span> <span style="margin-right:2rem">following</span>  <span style="margin-right:0.5rem;    font-weight: bold;" id="followers"><%=cuser.followers.length%></span>followers</p>

                    
                    <%  if(cuser._id==user._id) {%>
                    <div >
                      <a href="" data-bs-toggle="modal" data-bs-target="#profileEdit" >Edit</a>
                      </div>
                      <% }%>

                      
                    </div>
                    </div>
                    </div>


                    <div class="modal fade" id="profileEdit" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                            <i class='bx  bx-sm bx-window-close ' data-bs-dismiss="modal"></i>
                      
                          </div>
                          <div class="modal-body">
                            <form  action="/user/profile/<%=user._id%>?_method=PUT" method="post"  enctype="multipart/form-data">
                              <% if(cuser.cover_image && cuser.cover_image.url) {%>   
                              <div  class="img mb-5 profile-modal-upload" id="coverImage" style="background-image: url(<%=cuser.cover_image.url%>);">
                                <% } else {%>

                                  <div  class="img mb-5 profile-modal-upload" id="coverImage" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAMFBMVEXh6vH////5+vrl7fPv8/f0+fzt9Pbf6vD+/f/j6/Lf6vL///3f6fLr8fbv8/by9vm0HxD7AAACbUlEQVR4nO3c65abIBRAYVHTDALx/d+2VBuDII6zLHro2t/fmEn2HETn2jQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADkG29irNHa4I9G9+qu83B2BTauu01JIIYUUUkghhbcX/ipFTGH3LKOTUmi6Qq/QGQrLovA8Ckuj8LzqC/98A2ZX5YXd2Lajf6beOaTmwm5+tnnsBNZc+NTt/OaNanWT/U5hzYWjWjzyh1VSqK1ONpTPW/fyz66kcHCqixJtHwSqPvvUKgq1D/Rjik61MZzhWPd5aJ3fTfwR6yn+P4XzBFU8RevCwvzPJCoo9IFmepdmPUUdFuqaZzgt0fcUw8T+88Ar/wrSC/UywemgcKE+7Tg/ZNRY8V2bDScYT9G6r+mdu+fOK8guXE8wmaK/Vet6980PPmUXDvEEVXLRCL942lwGkguny0RSmF76//ILuh/SE1JyYXIObk/xzfn17NJH5BZ+LvSHpmjno10yRbmFySYTDHFjivONnZ9iHC+3MLNE31NcJy7zNsn9m9DC9DIRTXG9UD977jTF1UIVWpjbZDJTDM/YeLsRWfjdBKMprj8d8RRFFm5d6Dca31OM99z1diOwMHehT01TTBe0WV00BBYem+AyRbdxcDhFgYX6YN80RZu5LTCSZ9gcLzSqz+xIZvloAgt/MsN8u+QZUkghhRRSSCGFFFJIIYWXFKqv85Towr3fcDpKSy78xygsjcLzKCyNwvPEFCpthxKsVlIKXVeGE1NYHoUUUkghhRRSeFfh2D6u0o53BOpmuOz/RA17f8MHAAAAAAAAAAAAAAAAAAAAAAAAAAAAALjcb3yLQG5tF3tgAAAAAElFTkSuQmCC');
                                  background-position: center;">
                                  <%}%>
                                  <% if(cuser.cover_image && cuser.cover_image.url) {%> 
                                  <input style="display: none;" id="delcoverpic" name="delcover" value="false"  type="text">
                                  <%} else{ %>
                                    <input style="display: none;" id="delcoverpic" name="delcover"  value="false" type="text">
                                    <%}%>

                                    <% if(cuser.profile_image && cuser.profile_image.url) {%> 
                                       <% console.log("cuser present") %>
                                      <input style="display: none;" id="delprofilepic" name="delprofile" value="false"  type="text">
                                      <%} else{ %>
                                        <input style="display: none;" id="delprofilepic" name="delprofile" value="false" type="text">
                                        <%}%>

                                 
                                  <!-- <input style="display: none;" id="delprofpic" name="delprof" value="false" type="text"> -->

                                <div class="d-flex justify-content-center">
                                <label class="filelabel" >
               
                                  <i style="margin-top: 55px;" class='bx bx bx-image-alt cover-upload-icon'></i>
                         
                                  
                               
                               <% if(cuser.cover_image && cuser.cover_image.url) {%> 
                  
                              <input class="FileUpload1" id="CoverInput"   name="cover_image" type="file"/>
                              <%}else{ %>
                                <input class="FileUpload1" id="CoverInput"    name="cover_image" type="file"/>
                                <%}%>

                      
                          </label>
                          </div>
                          
                            <div class="d-flex justify-content-end">
                              <% if(cuser.cover_image && cuser.cover_image.url) {%> 
                            <i  onclick="deleteCoverImage(this)" style="display: inline;" class='bx bxs-message-alt-x cover-delete-icon' filename="<%=cuser.cover_image.filename%>" id="<%=cuser._id%>"></i>
                            <%}else{%>
                              <i  onclick="deleteCoverImage(this)" style="display: none;" class='bx bxs-message-alt-x cover-delete-icon' filename="" id="<%=cuser._id%>"></i>
                              <%}%>
                            </div>
                     
                                
                            
                                <% if(cuser.profile_image && cuser.profile_image.url) {%>
                                  <img  id="prof-preview" src="<%=cuser.profile_image.url%>"  alt="" class="img-thumbnail">
                                  <%}else{%>


                                <img  id="prof-preview" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAMFBMVEXh6vH////5+vrl7fPv8/f0+fzt9Pbf6vD+/f/j6/Lf6vL///3f6fLr8fbv8/by9vm0HxD7AAACbUlEQVR4nO3c65abIBRAYVHTDALx/d+2VBuDII6zLHro2t/fmEn2HETn2jQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADkG29irNHa4I9G9+qu83B2BTauu01JIIYUUUkghhbcX/ipFTGH3LKOTUmi6Qq/QGQrLovA8Ckuj8LzqC/98A2ZX5YXd2Lajf6beOaTmwm5+tnnsBNZc+NTt/OaNanWT/U5hzYWjWjzyh1VSqK1ONpTPW/fyz66kcHCqixJtHwSqPvvUKgq1D/Rjik61MZzhWPd5aJ3fTfwR6yn+P4XzBFU8RevCwvzPJCoo9IFmepdmPUUdFuqaZzgt0fcUw8T+88Ar/wrSC/UywemgcKE+7Tg/ZNRY8V2bDScYT9G6r+mdu+fOK8guXE8wmaK/Vet6980PPmUXDvEEVXLRCL942lwGkguny0RSmF76//ILuh/SE1JyYXIObk/xzfn17NJH5BZ+LvSHpmjno10yRbmFySYTDHFjivONnZ9iHC+3MLNE31NcJy7zNsn9m9DC9DIRTXG9UD977jTF1UIVWpjbZDJTDM/YeLsRWfjdBKMprj8d8RRFFm5d6Dca31OM99z1diOwMHehT01TTBe0WV00BBYem+AyRbdxcDhFgYX6YN80RZu5LTCSZ9gcLzSqz+xIZvloAgt/MsN8u+QZUkghhRRSSCGFFFJIIYWXFKqv85Towr3fcDpKSy78xygsjcLzKCyNwvPEFCpthxKsVlIKXVeGE1NYHoUUUkghhRRSeFfh2D6u0o53BOpmuOz/RA17f8MHAAAAAAAAAAAAAAAAAAAAAAAAAAAAALjcb3yLQG5tF3tgAAAAAElFTkSuQmCC'  alt="" class="img-thumbnail">
                                <%}%>
                                <label class="filelabel" style="display: inline-block;">
               
                                    <i class='bx bx bx-image-alt upload-icon'></i>

                            
                                    
                               <% if(cuser.profile_image && cuser.profile_image.url) {%> 
                                <input class="FileUpload1"  id="ProfileInput" name="profile_image" type="file"/>
                                <%}else{ %>
                                  <input class="FileUpload1" id="ProfileInput" name="profile_image" type="file"/>
                                  <%}%>
                        
                            </label>
                            <% if(cuser.profile_image && cuser.profile_image.url) {%>              
                              <i  style="display: inline;" onclick="deleteProfileImage(this)" class='bx bxs-message-alt-x profile-delete-icon ' filename="<%=cuser.profile_image.filename%>" id="<%=cuser._id%>"></i>

                              <%}else{ %>
                                <i  style="display: none;" onclick="deleteProfileImage(this)" class='bx bxs-message-alt-x profile-delete-icon ' id="<%=cuser._id%>"></i>

                                <%}%>
                              </div>
                              <div class="other-info">
                              <div class="mb-3 form-ele">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" name="username" class="form-control input-forprofile" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=cuser.username%>">
                              </div>
                              <div class="form-floating  form-ele">
                                <label for="bio">Bio</label>
                                <textarea name="bio" style="margin-left: 45px;" class="form-control input-forprofile" placeholder="Write something about yourself" id="bio">
<%= cuser.bio ? cuser.bio : '' %></textarea>
                             
                              </div>
                            </div>
                              
                              
                             <div class="mt-5">
                              <button style="float: right;" type="submit" class="btn btn-primary">Submit</button>
                             </div>
                             
                            </form>
                       
                          </div>
                      
                       
                         
                        </div>
                      </div>
                      </div> 

                </div>
                
               

              </div>
             
          

            </div>
            <div class="col-12 tabs-section"  >
              <ul   class="nav nav-tabs d-flex justify-content-between" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link tab-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Posts</button>
                </li>
              
                <li class="nav-item" role="presentation">
                  <button class="nav-link tab-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Voted</button>
                </li>
              </ul>

            </div>
            <hr>


            
            <div class="tab-content" id="myTabContent" style="width: 100%;">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="user-posts">

                  <% for(let i=0;i<posts.length;i++) {%>
                    
                    <div class="col-lg-12   mb-5">
                      <div class="row  content" style="margin:10px">
                      <div class=" col-2 col-lg-1 vote">
                        <div class="wrapper" id="<%=posts[i]._id%>">
                          
                       
                          <div><i class='bx bx-upvote bx-sm upvote <%= posts[i].upvotes.includes(user._id) ? 'bxs-upvote' : ''%> ' ></i></div>
                          <div id="vote-count"style="text-align: center; font-weight: bold; font-size: 1.2rem;">
                          <%= (posts[i].upvotes.length-posts[i].downvotes.length)%></div>
                          <div ><i class='bx  bx-downvote bx-sm downvote  <%= posts[i].downvotes.includes(user._id) ? 'bxs-downvote' : ''%> ' ></i></div>
                         
                        </div>
                    
              
                      </div>
            
                      <div class="col-10 col-lg-11 " style="padding:0">
            
            
                     
                    
                      <div class="card post" id="<%=posts[i].id%>" >
                        <div class="d-flex justify-content-start user-det">
                    
                      
                         Posted by - <a href="/user/profile/<%=posts[i].user._id%>"><%=posts[i].user.username%></a>

                        </div>
               <% if(posts[i].image.url) {%>
              <img src="<%=posts[i].image.url%>" class="card-img-top post-img img-fluid" alt="...">
              <%}%>
              <div class="card-body post-body" >
            
                <h5 class="card-title"><%=posts[i].title%></h5>
            
                <p class="card-text"><%=posts[i].text%></p>
                <%- include('partials/editModal') %>
            
               
             
                
          
            
                  <div class="alltags">
                    <span style="font-weight:bold;">Tags</span>
                    <div style=" display: inline-block;">
                    <%if(posts[i].tags){%>
                      <% for(let j=0;j<posts[i].tags.length;j++) {%>
                        <span class="tag" ><a class="tag-a" href="/post/<%=posts[i].tags[j]%>"><%=posts[i].tags[j] %> </a></span>
                     
                        <%}%>
                      
                    <%}%>
                    </div>
            
                    
                  </div>
                 
            
            
                 <% if(posts[i].user._id==user._id) {%>
                  <a href="#" class="btn btn-sm btn-edit" onclick="showEditModal('<%=posts[i]._id%>')" style="text-decoration:none; " data-bs-toggle="modal" data-bs-target="#exampleModal2" >Edit</a>
            
              
                
               
               
                <form style="display: inline-block;" action="/user/post/<%=posts[i].id%>?_method=DELETE" method="POST"  >
            
               
                  <button style="display: inline-block;" type="submit" class="btn btn-delete  btn-sm">Delete</button>
                </form>
                <%}%>
                <form style="display: inline-block;" action="/user/post/<%=posts[i].id%>" method="GET"  >
                  <button style="display: inline-block;" type="submit" class="btn btn-cmt  btn-sm">Comment</button>
                </form>
        
                <div style="display: inline; padding: 10px;font-size: 0.9rem;" >  <i onclick="sharebtn(this,'<%=posts[i].id%>')" class='bx   share-btn bx-sm bx-rotate-180  <%= sposts &&  sposts.includes(posts[i].id) ? 'bxs-share': 'bx-share' %>  '></i><span id="share_status" style="margin-left: 5px;">
                  <%=sposts && sposts.includes(posts[i].id) ? 'Shared': 'Share' %> 
                </span> 
                <span class="share_post" id="<%=posts[i]._id%>" style="display:none;" ></span></div>
  
              </div>
              <div>
                <span class="posted-time"><%=posts[i].posted%></span>
              </div>
            
            </div>
            </div>
            </div>
            </div>
            <%}%>
                  
          
          
              
              </div>
              </div>
              
              <div  class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="user-posts">

                  <% for(let i=0;i<vposts.length;i++) {%>
                    
                    <div class="col-lg-12   mb-5">
                      <div class="row  content" style="margin:10px">
                      <div class=" col-2 col-lg-1 vote">
                        <div class="wrapper" id="<%=vposts[i]._id%>">
                          
                       
                          <div><i class='bx bx-upvote bx-sm upvote <%= vposts[i].upvotes.includes(user._id) ? 'bxs-upvote' : ''%> ' ></i></div>
                          <div id="vote-count"style="text-align: center; font-weight: bold; font-size: 1.2rem;">
                          <%= (vposts[i].upvotes.length-vposts[i].downvotes.length)%></div>
                          <div ><i class='bx  bx-downvote bx-sm downvote  <%= vposts[i].downvotes.includes(user._id) ? 'bxs-downvote' : ''%> ' ></i></div>
                         
                        </div>
                    
              
                      </div>
            
                      <div class="col-10 col-lg-11 " style="padding:0">
            
            
                     
                    
                      <div class="card post" id="<%=vposts[i].id%>" >
                        <div class="user-det d-flex justify-content-start">
                         Posted by - <a href="/user/profile/<%=vposts[i].user._id%>"> <%=vposts[i].user.username%> </a>
                        </div>
                <% if(vposts[i].image.url) {%>         
              <img src="<%=vposts[i].image.url%>" class="card-img-top post-img img-fluid" alt="...">
              <% }%>
              <div class="card-body post-body" >
            
                <h5 class="card-title"><%=vposts[i].title%></h5>
            
                <p class="card-text"><%=vposts[i].text%></p>
                <%- include('partials/editModal') %>
            
               
             
                
          
            
                  <div class="alltags">
                    <span style="font-weight:bold;">Tags</span>
                    <div style=" display: inline-block;">
                    <%if(vposts[i].tags){%>
                      <% for(let j=0;j<vposts[i].tags.length;j++) {%>
                        <span class="tag" ><a class="tag-a" href="/post/<%=vposts[i].tags[j]%>"><%=vposts[i].tags[j] %> </a></span>
                     
                        <%}%>
                      
                    <%}%>
                    </div>
            
                    
                  </div>
                 
            
            
                 <% if(vposts[i].user._id==user._id) {%>
                  <a href="#" class="btn btn-sm btn-edit" onclick="showEditModal('<%=vposts[i]._id%>')" style="text-decoration:none; " data-bs-toggle="modal" data-bs-target="#exampleModal2" >Edit</a>
            
              
                
               
               
                <form style="display: inline-block;" action="/user/post/<%=vposts[i].id%>?_method=DELETE" method="POST"  >
            
               
                  <button style="display: inline-block;" type="submit" class="btn btn-delete  btn-sm">Delete</button>
                </form>
                <%}%>
                <form style="display: inline-block;" action="/user/post/<%=vposts[i].id%>" method="GET"  >
                  <button style="display: inline-block;" type="submit" class="btn btn-cmt  btn-sm">Comment</button>
                </form>
              </div>
            
            </div>
            </div>
            </div>
            </div>
            <%}%>
                  
          
          
              
              </div>
              </div>
            </div>

        
     
    </div>
    </div>
                  
    <div class=" d-none col-md-3 d-lg-inline-block profile-right "  >

      <%- include('partials/showapi') %>




      
       

      </div>

   

  </div>

</div>


   
 









    
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script> -->
<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/stylesheets/blogpost.js"></script>
<script src="/stylesheets/profile.js"></script>
<script src="/stylesheets/editModal.js"></script>

</html>
