<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/blogposts.css">
   
    <title>Document</title>
</head>
<body>

  <div class="container-fluid" >
 
    <div class="row" style="height: 100vh;">
      <div class="col-lg-3  d-none d-sm-inline-block col-sm-4 col-prof justify-content-center" >
        <h4>Wassup</h4>
      </div>
      <div class="col-lg-6 col-12 col-sm-8 col-content" >
        
       <div class="home-head">
        <p>Home</p>
      

       </div>
     

      <div class="row">
        <% console.log("Post length",posts.length,posts) %>
        <% for(let i=0;i<posts.length;i++) {%>
          
        <div class="col-lg-12   mb-5">
          <div class="row  content" style="margin:10px">
          <div class="col-2 col-lg-1 vote">
            <div class="wrapper" id="<%=posts[i]._id%>">
              
              <!-- <div><i class='bx bx-arrow-back bx-sm' ></i></div> -->
              <div><i class='bx bx-upvote bx-sm upvote <%= posts[i].upvotes.includes(user._id) ? 'bxs-upvote' : ''%> ' ></i></div>
              <div id="vote-count"style="text-align: center; font-weight: bold; font-size: 1.2rem;">
              <%= (posts[i].upvotes.length-posts[i].downvotes.length)%></div>
              <div ><i class='bx  bx-downvote bx-sm downvote  <%= posts[i].downvotes.includes(user._id) ? 'bxs-downvote' : ''%> ' ></i></div>
             
            </div>
        
  
          </div>

          <div class="col-10 col-lg-11 " style="padding:0">


         
        
          <div class="card post" id="<%=posts[i].id%>" >
            <div class="user-det">
             Posted by - <%=posts[i].user.username%>
            </div>
  <img src="<%=posts[i].image%>" class="card-img-top post-img" alt="...">
  <div class="card-body post-body" >

    <h5 class="card-title"><%=posts[i].title%></h5>

    <p class="card-text"><%=posts[i].text%></p>
   
    <div class="modal fade" id="title<%=posts[i].id%>" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit your post</h5>
           
          </div>
          <div class="modal-body">
            <form  action="/user/post/<%=posts[i].id%>?_method=PUT" class="needs-validation" novalidate method="post"  >
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                
                <input type="text" value="<%=posts[i].title%>"  required name="title" class="form-control" id="title" aria-describedby="emailHelp">
               
              </div>
              <div class="mb-3">
                <label for="image" class="form-label ">Image</label>
                <input type="text" value="<%=posts[i].image%>" name="image" class="form-control" id="image">
              </div>
      
              <div class="mb-3">
                <label for="text" class="form-label">Text</label>
                <textarea class="form-control"  name="text" required  placeholder="Leave a comment here" id="text"><%=posts[i].text%></textarea>
              </div>
             
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
       
          </div>
      
       
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
      </div>

      <div class="alltags">
        <span style="font-weight:bold;">Tags</span>
        <div style="margin-left:30px; display: inline-block;">
        <%if(posts[i].tags){%>
          <% for(let j=0;j<posts[i].tags.length;j++) {%>
            <span class="tag" ><a class="tag-a" href="/post/<%=posts[i].tags[j]%>"><%=posts[i].tags[j] %> </a></span>
         
            <%}%>
          
        <%}%>
        </div>

        
      </div>
     


     <% if(posts[i].user._id==user._id) {%>
      <a href="#" class="btn btn-sm btn-edit" style="text-decoration:none; " data-bs-toggle="modal" data-bs-target="#title<%=posts[i].id%>">Edit</a>

  
    
   
   
    <form style="display: inline-block;" action="/user/post/<%=posts[i].id%>?_method=DELETE" method="POST"  >

   
      <button style="display: inline-block;" type="submit" class="btn btn-delete  btn-sm">Delete</button>
    </form>
    <%}%>
    <form style="display: inline-block;" action="/user/post/<%=posts[i].id%>" method="GET"  >
      <button style="display: inline-block;" type="submit" class="btn btn-cmt  btn-sm">Comment</button>
    </form>
  </div>

</div>
</div>
</div>
</div>
<%}%>
      
       

      </div>

      <div>
        <nav aria-label="...">
          <ul class="pagination pagination-md">
           
            <% let n= Math.ceil((total)/2) %>
            <% for(let i=1;i<=n;i++) {%>
              <li class="page-item"><a class="page-link " href="/user/post?page=<%=i%>"
              ><%=i%></a></li>
             
            <%}%>
            
          
          </ul>
        </nav>
      </div>

      </div>







      <div class="d-none d-lg-inline-block col-lg-3 col-more" >
        <!-- Modal -->
        <%- include('partials/createModal') %>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
          Post your thoughts
          </button>
      </div>
    </div>
  </div>
  
  <!-- Button trigger modal -->








    
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script> -->
<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/stylesheets/blogpost.js"></script>
</html>
